:root {
    --text-color: #373a38;
    --bg-color: #cce6ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Manage app updates */
#update {
    transition: ease 0.5s;
    visibility: hidden;
    padding: 0;
    height: 0;
    z-index: 1;
    width: 300px;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

#update.show {
    visibility: visible;
    padding: 16px;
    height: 65px;
    z-index: 99999;
}
