:root {
    --text-color: #4a4a4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
